/* src/index.css */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.board {
  display: grid;
  height: 600px;
  width: 600px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr); /* Creates 15 rows */
  gap: 0; /* Adjust if you want space between cells */
}

.cell {
  margin: 0;
  padding: 0;
  border: 1px solid gray; /* Border for each cell */
  display: flex;
  justify-content: center;
  align-items: center;
}
