/* src/index.css */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

.board {
  display: grid;
  height: 1000px;
  width: 1000px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr); 
  gap: 0;
}

.cell {
  margin: 0;
  padding: 0;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
